* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


body {
    background-color: black;
    color: white;
    font-family: sans-serif;
}

/******************* HEADER ******************/
header {
    background-color: black;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    width: 100%;
    height: 70px;
}

.header-btn {
    background-color: #4a4a4a;
    padding: 6px;
    border-radius: 8px;
    margin-right: 8px;
    margin-top: 20px;
    margin-bottom: 20px;
}



/******************* MAIN ******************/
#users-online {
    height: calc(100vh - 150px);
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    overflow-y: scroll;
}

.single-user {
    width: 246px;
    height: 146px;
    position: relative;
    margin: 5px;
}


.user-bg {
    background-color: rgba(0, 0, 0, 0.5);
    text-align: center;
    padding: 5px;
    position: absolute;
    bottom: 0;
    left: 0;   
}


/******************* FOOTER ******************/
footer {
    width: 100%;
    height: 80px;
    background-color: #222222;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

footer .tools-area:first-child {
    margin-left: 13px;
}

.tools-area {
    display: flex;
    flex-direction: row;
    font-size: 30px;
    margin-top: 15px;
    margin-bottom: 15px;   
}

.single-tool {
    margin-right: 25px;
    text-align: center;
}

footer .tools-area p {
    font-size: 15px;
}

footer .tools-area .fas.fa-angle-up {
    font-size: 18px;
}

.fa-share-square {
    color: #4ac700;
}

#exit-area {
    background-color: #4a4a4a;
    color: red;
    line-height: 80px;
    text-align: center;
    padding: 0px 20px; 
}


